<!doctype html>
<html lang="en">
<head>
    {% include "head" %}
    <style>
        #contents-table {
            position: sticky;
            top: 3em;
            height: fit-content;
        }
    </style>
    <title>roffen</title>
</head>
<body>
{% include "header" %}

<main>
    <div class="flex three two">
        <section id="contents-table" class="center flow">
            <h1>{{ lang("main-page-contents") }}</h1>
            <ol id="contents-table-list"></ol>
        </section>
        <section id="content">
            <article>
                <h1>{{ lang("main-page-about") }}</h1>
                <p>{{ lang("main-page-about-paragraph-1") }}</p>
                <p>{{ lang("main-page-about-paragraph-2") }}</p>
                <p>{{ lang("main-page-about-paragraph-3") }}</p>
                <p>{{ lang("main-page-about-paragraph-4") }}</p>

                <h2>{{ lang("main-page-plans") }}</h2>
                <ul>
                    <li>{{ lang("main-page-plan-2") }}</li>
                    <li>{{ lang("main-page-plan-3") }}</li>
                </ul>
            </article>

            <article>
                <h1>{{ lang("main-page-config") }}</h1>
                <p>{{ lang("main-page-config-paragraph-1") }}</p>

                <h2>{{ lang("main-page-config-auth") }}</h2>
                <p>{{ lang("main-page-config-auth-paragraph-2") }}</p>
                <pre><code class="language-toml">
[auth]
secret = "super-secret-key-change-me"

[[users]]
login = "admin"
password = "admin"
                </code></pre>

                <h2>{{ lang("main-page-config-tls") }}</h2>
                <p>{{ lang("main-page-config-paragraph-3") }}</p>
                <pre><code class="language-toml">
[tls]
cert = "server-cert.pem"
key = "server-key.pem"
                </code></pre>

                <h2>{{ lang("main-page-config-server") }}</h2>
                <p>{{ lang("main-page-config-paragraph-4") }}</p>
                <pre><code class="language-toml">
[server]
address = "0.0.0.0"
port = 8443
                </code></pre>

                <h2>{{ lang("main-page-config-lang") }}</h2>
                <p>{{ lang("main-page-config-paragraph-5") }}</p>
                <pre><code class="language-toml">
[lang]
current = "en-US"
                </code></pre>

                <p>{{ lang("main-page-config-paragraph-6") }}</p>
                <pre><code class="language-toml">
[lang]
current = "ru-RU"
default = "en-US"
                </code></pre>

                <h2>{{ lang("main-page-config-default") }}</h2>
                <p>{{ lang("main-page-config-paragraph-7") }}</p>
                <pre><code class="language-toml">
[lang]
current = "en-US"

[tls]
cert = "server-cert.pem"
key = "server-key.pem"

[auth]
secret = "super-secret-key-change-me"

[[users]]
login = "admin"
password = "admin"
                </code></pre>
            </article>

            <article>
                <h1>{{ lang("main-page-pages") }}</h1>
                <p>{{ lang("main-page-pages-paragraph-1") }}</p>
                <p>{{ lang("main-page-pages-paragraph-2") }}</p>

                <pre class="mermaid center">
                    treeView-beta
                        "content"
                            "pages"
                                "index.html"
                                "header.html"
                                "posts"
                                    "index.html"
                </pre>

                <h2>{{ lang("main-page-templates") }}</h2>
                <p>{{ lang("main-page-templates-paragraph-1") }}</p>
                <p>{{ lang("main-page-templates-paragraph-2") }}</p>
                <ul>
                    <li><code>is_map(val) -> bool</code> - {{ lang("main-page-template-function-1") }}</li>
                    <li><code>len(val) -> i64</code> - {{ lang("main-page-template-function-2") }}</li>
                    <li><code>date(timestamp, format) -> string</code> - {{ lang("main-page-template-function-3") }}
                    </li>
                    <li><code>eq(left, right) -> bool</code> - {{ lang("main-page-template-function-4") }}</li>
                    <li><code>and(first, second) -> bool</code> - {{ lang("main-page-template-function-5") }}</li>
                    <li><code>default
                        <T>(val, default) -> T
                    </code> - {{ lang("main-page-template-function-6") }}
                    </li>
                    <li><code>all_posts() -> Post[]</code> - {{ lang("main-page-template-function-7") }}</li>
                    <li><code>posts(count, offset) -> Post[]</code> - {{ lang("main-page-template-function-8") }}</li>
                    <li><code>get_post_by_id(id) -> Post</code> - {{ lang("main-page-template-function-9") }}</li>
                    <li><code>get_pages() -> Page</code> - {{ lang("main-page-template-function-10") }}</li>
                </ul>

                <p>{{ lang("main-page-template-values") }}</p>
                <ul>
                    <li><code>auth: Option&lt;JwtPayload&gt;</code> - {{ lang("main-page-template-value-1") }}</li>
                    <li><code>query: Map&lt;string, string&gt;</code> - {{ lang("main-page-template-value-2") }}</li>
                </ul>

                <blockquote>
                    {{ lang("main-page-template-quote") }}
                </blockquote>

                <p>{{ lang("main-page-template-structure") }}</p>
                <pre><code class="language-rust">
struct Post {
    id: String,
    content: {
        draft: bool,
        author: String,
        created_at: u64,
        updated_at: Option&lt;u64&gt;,
        title: String,
        content: Vec&lt;PostComponent&gt;,
    },
}

struct PostComponent {
    name: String,
    data: HashMap&lt;String, String&gt;,
}

struct Page {
    link: String,
    path: VfsPath,
    tags: Vec&lt;String&gt;,
}

struct JwtPayload {
    pub username: String,
    pub exp: usize,
}
                </code></pre>
            </article>

            <article>
                <h1>{{ lang("main-page-components") }}</h1>
                <p>{{ lang("main-page-components-paragraph-1") }}</p>
                <p>{{ lang("main-page-components-paragraph-2") }}</p>
                <pre class="mermaid center">
                    treeView-beta
                        "content"
                            "components"
                                "img"
                                    "index.js"
                                    "meta.ron"
                                "title"
                                    "index.js"
                                    "meta.ron"
                                "text"
                                    "index.js"
                                    "meta.ron"
                </pre>
                <p>{{ lang("main-page-components-lifecycle") }}</p>
                <pre class="mermaid center">
                    flowchart TD
                        A[mount] --> B[set size]
                        B --> C[normalize]
                        C --> D[init props]
                        D --> E{has changes?}
                        E -->|yes| I[fetch data]
                        I -->|data from props| E
                </pre>

                <h2>{{ lang("main-page-components-implementation") }}</h2>
                <p>{{ lang("main-page-components-implementation-paragraph") }}</p>
                <ul>
                    <li>
                        <div>
                            <code>index.ts</code>:
                            <pre><code class="language-typescript">
import type {IComponentHooks} from "common/src/IComponent.ts";

export const hooks: IComponentHooks = {
    mount: ctx => {
        const previewEl = document.createElement("img");
        const source = ctx.data.source;

        if (!source) {
            console.error("no source link");
            return;
        }

        previewEl.src = source;

        ctx.el.classList.add("component-image");

        ctx.el.appendChild(previewEl);
    },
    setSize: ctx => {
        if (!ctx.data.row || !ctx.data.col) {
            console.warn("no row or column parameter in component");
            return;
        }

        ctx.setRow(Number(ctx.data.row));
        ctx.setCol(Number(ctx.data.col));
    },
    initProps: ctx => {
        ctx.createUrlSource(
            "Image url",
            ctx.data.source ?? (ctx.el.children.item(0) as HTMLImageElement)?.src,
            value => {
                const child = ctx.el.children.item(0) as HTMLImageElement;

                if (!child) {
                    console.error("no child element");
                    return;
                }

                if (value) {
                    child.src = value;
                    ctx.data.source = value;
                } else if (ctx.data.source) {
                    child.src = ctx.data.source;
                }
            });
    },
    fetchData: ctx => {
        const child = ctx.el.children.item(0) as HTMLImageElement;

        if (!child) {
            return {
                source: "",
            };
        } else {
            return {
                source: child.src,
            }
        }
    }
}
                            </code></pre>
                        </div>
                    </li>
                    <li>
                        <div>
                            <code>meta.ron</code>
                            <pre><code class="language-rust">
ComponentMeta(
    name: "image",
    title: "Image",
    html: "img",
    defaults: {
        "source": "/editor/img/image-placeholder.png",
        "row": "4",
        "col": "6",
    }
)
                            </code></pre>
                        </div>
                    </li>
                </ul>

                <p>{{ lang("main-page-components-use") }}</p>
                <img src="/examples/img_component.png" alt="img component">

                <h2>{{ lang("main-page-components-rendering") }}</h2>
                <p>{{ lang("main-page-components-rendering-paragraph") }}</p>
                <ol>
                    <li>
                        <p>{{ lang("main-page-components-rendering-step-1") }}</p>
                        <pre><code class="language-html">
&lt;link rel="stylesheet" href="/view/css/styles.css"&gt;
                        </code></pre>
                    </li>
                    <li>
                        <p>{{ lang("main-page-components-rendering-step-2") }}</p>
                        <pre><code class="language-html">
&lt;script src="/view/js/index.js"&gt;&lt;/script&gt;
                        </code></pre>
                    </li>
                    <li>
                        <p>{{ lang("main-page-components-rendering-step-3") }}</p>
                        <pre><code class="language-handlebars">
&lt;div class="grid-content"&gt;
    {&percnt; for comp in post.content &percnt;}

    &lt;div data-type="{&#123; comp.name &#125;}"
         {&percnt; for key, val in comp.data &percnt;}
         data-{&#123; key &#125;}="{&#123; val &#125;}"
         {&percnt; endfor &percnt;}
    &gt;&lt;/div&gt;

    {&percnt; endfor &percnt;}
&lt;/div&gt;
                        </code></pre>
                    </li>
                    <li>
                        <p>{{ lang("main-page-components-rendering-step-4") }}</p>
                    </li>
                </ol>

                <h2>{{ lang("main-page-components-why") }}</h2>
                <p>{{ lang("main-page-components-why-paragraph") }}</p>
            </article>

            <article>
                <h1>{{ lang("main-page-build") }}</h1>
                <p>{{ lang("main-page-build-paragraph-1") }}</p>
                <ol>
                    <li><a href="https://rust-lang.org/tools/install/">rust toolchain</a></li>
                    <li><a href="https://bun.sh/">bun</a></li>
                </ol>

                <p>{{ lang("main-page-build-paragraph-2") }}</p>
                <pre><code class="language-powershell">
cargo build -r
                </code></pre>

                <p>{{ lang("main-page-build-paragraph-3") }}</p>
                <p>{{ lang("main-page-build-paragraph-4") }}</p>

                <p>{{ lang("main-page-build-debug") }}</p>
                <pre><code class="language-powershell">
cargo run
                </code></pre>
            </article>
        </section>
    </div>
</main>
</body>
<script src="/main/js/index.js"></script>
</html>